@import url('https://fonts.googleapis.com/css?family=Amiri|Boogaloo|Gentium+Basic|Lato|Quando|Scada');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Lora|Merriweather');


.container

{

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 300px;
    top: 60px;

}

.main-container

{

    position: relative;
    margin: auto;
    border-radius: 20px;
    background: rgba(255,255,255,1);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );  
}


.main-container__internal-one

{
   
    margin-bottom: 30px;
    font-family: 'Droid Serif', serif;

}

.main-container__internal-one__container-imagen

{
     
    border: solid 1px #37658C;
    padding: 10px;
    border-radius: 50%;

}

.main-container__internal-one__container-imagen--imagen
 
{

   border-radius: 50%;
   border: solid 4px steelblue;
   width: 200px;

}
    

.main-container__internal-two

{

   font-family: 'Droid Serif', serif;
   
}

.main-container__internal-two__input

{

  margin-bottom: 15px;  

}

.main-container__internal-two__button

{

   margin-bottom: 40px;
   width: 194px;

}


@media screen and (max-width: 360px)

{

    .main-container

    {

      position: relative;
      margin: auto;
      top: 5px;
      width: 100%;
      border-radius: 20px;

    }

}


@media screen and (max-width: 280px)

{

   .main-container__internal-one__container-imagen

   {
       
      border: solid 1px #37658C;
      padding: 10px;
      border-radius: 50%;

   }

   .main-container__internal-one__container-imagen--imagen
   
   {

     border-radius: 50%;
     border: solid 4px steelblue;
     width: 180px;

   }

}

