@import url('https://fonts.googleapis.com/css?family=Merriweather');

.flexible{

  display: flex;
  flex-wrap: wrap;
  font-family: 'Merriweather', serif;

}

.container-skills{ flex-direction: row; justify-content: space-around; margin-bottom: 1em;  }
.container-skill{ flex-direction: column; align-items: center;}
.container-imagen-nombre{ flex-direction: row; align-items: center; margin-top: 0}
.imagen--nombre{padding-left: .5em;}
.text-laravel,.text-mysql{ margin-bottom: .3em }
h5{margin-top: 0;}





@media screen and (max-width: 768px) {

   
    .text{ font-size: 1em; }
  

 } 

 @media screen and (max-width: 480px) {

   
    .text{ display: none; }
   
  

 }



/* @media screen and (max-width: 631px) {
   
    
    .imagen-mysql{ top:35em;}
    .imagen-jquery{ top:17.5em;}
  

 } */


/*.imagen-java {left: 14.5em; top:22.5em;border-radius: 48%}
.imagen-php {left: 30.3em; top:23.3em;border-radius: 48%}
.imagen-laravel {left: 47.6em; top:22.5em;border-radius: 50%}
.imagen-mysql {left: 64.8em; top:22.5em;}*/


